{$CANOPTEK_PUBLIC_HOST} {
	encode zstd gzip

	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains"
		X-Content-Type-Options "nosniff"
		X-Frame-Options "SAMEORIGIN"
		Referrer-Policy "strict-origin-when-cross-origin"
		X-Robots-Tag "noindex, nofollow, noarchive"
		Permissions-Policy "camera=(), geolocation=(), microphone=()"
		-Server
	}

	reverse_proxy app:8000
}
